* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  margin-bottom: 10% !important;
  
}

.top-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
  padding: 5px;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.profile-img {
  width: 70%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border: 2px solid #fff;
}

.about-me {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: justify;
  line-height: 1.5;
  font-size: 1em;
}

.bottom-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  width: 100%;
  height: auto; 
}

.hobbies {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.aspirations {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .top-section {
    grid-template-columns: 1fr;
  }
  .bottom-section {
    grid-template-columns: 1fr;
  }
  .about-me {
    font-size: 1.2em;
    line-height: 1.8;
  }
  .grid-container {
    padding: 10px;
  }
  .profile-img {
    width: 100%;
    height: auto;
  }
}
